@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~csshake';

html {
  font-size: 14px;
  scroll-behavior: smooth;
  @apply w-full h-full overflow-hidden;
  @apply bg-background text-text;
}
@screen md {
  html {
    font-size: 15px;
  }
}
@screen xl {
  html {
    font-size: 16px;
  }
}

body {
  @apply overflow-auto h-full;
  -webkit-overflow-scrolling: touch;
}

*:focus,
.is-focusable:focus,
.has-focusable:focus .focusable {
  outline: dashed 2px theme('colors.outline');
  outline-offset: 2px;
  @apply scale-105;
  @apply transition-transform;
  @apply rounded-sm;
}

.text p,
.text code,
.text details,
.text ol,
.text ul,
.text li {
  @apply mb-2;
}
.text a {
  @apply underline;
}
.text h2 {
  @apply text-xl font-bold pb-2 border-b;
  @apply mt-6 mb-4;
}
.text code {
  @apply font-mono bg-chip;
}
.text pre code {
  @apply block p-2;
}
.text li {
  @apply ml-6 pl-1;
}
.text ul li {
  @apply list-disc;
}
.text ol li {
  @apply list-decimal;
}

svg {
  @apply fill-current;
}
