@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  scroll-behavior: smooth;
  @apply w-full h-full overflow-hidden;
  @apply bg-background text-text;
}
@screen md {
  html {
    font-size: 15px;
  }
}
@screen xl {
  html {
    font-size: 16px;
  }
}

body {
  @apply overflow-auto h-full;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: dotted 2px theme('colors.outline');
  outline-offset: 3px;
  @apply rounded-md;
}

.text p,
.text code,
.text details {
  @apply mb-2;
}
.text a {
  @apply underline;
}
.text h2 {
  @apply text-xl font-bold pb-2 border-b;
  @apply mt-6 mb-4;
}
.text code {
  @apply block font-mono bg-chip p-2;
}

svg {
  @apply fill-current;
}
