.max-w-paper {
  width: 21cm;
  max-width: calc(100vw - 2em);
}

.container {
  padding: 1.5em;
}

@media print {
  .is-single-page {
    overflow: hidden;
    height: 29.7cm;
  }
}

@media not print {
  .container {
    @apply border border-t-4 border-t-action shadow-md;
  }
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1em 1em 0 1em;
  }
}
